.Modal {
  width: 600px;
  float: left;
  margin-top: 100px;
  margin-left: 30%;
}

.tabs {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
}

.tab {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  background-color: #FBB647;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1)
}

.unactive-tab {
  background-color: #F6B346;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1) inset
}

.window {
  height: 400px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.window::-webkit-scrollbar {
  width: 12px;
  /* ширина scrollbar */
}

.window::-webkit-scrollbar-track {
  background: #D9D9D9;
  /* цвет дорожки */
}

.window::-webkit-scrollbar-thumb {
  background-color: white;
  /* цвет плашки */
  border-radius: 20px;
  /* padding вокруг плашки */
}

.chat {
  background-color: #FBB647;
}

.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message-item {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.user-item {
  align-items: flex-end;
}

.user-item > .message-block{
  flex-direction: row-reverse;
}

.message-block {
  max-width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: .5rem;
}

.message-icon {
  width: 47.74px;
  height: 52.72px;
}

.message {
  display: flex;
  flex-direction: row;
}

.user-message {
  flex-direction: row-reverse !important;
}

.tail {
  border-bottom: 5px solid white;
  border-left: 15px solid transparent;
}

.user-message > .tail {
  transform: rotateY(180deg);
}

.message-text {
  background-color: white;
  border-radius: 5px 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.user-message > .message-text {
  border-radius: 5px 5px 0 5px;
}

.hints {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem
}

.hint {
  padding: .4rem;
  margin: 0;
  background-color: #ffffffaa;
  border-radius: 0px 5px 5px 5px;
  font-size: 10px;
  cursor: pointer;
}

.hint:hover {
  background-color: white;
}

.notices {}